<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\Data\TemplateInlineInterface"
                type="\Boundsoff\PageBuilderTemplateInline\Model\TemplateInline"/>
    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\TemplateInlineRepositoryInterface"
                type="\Boundsoff\PageBuilderTemplateInline\Model\TemplateInlineRepository"/>
    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\Data\TemplateInlineSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="pagebuilder_stage_template_list_data_source" xsi:type="string">
                    \Boundsoff\PageBuilderTemplateInline\Model\ResourceModel\TemplateInline\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Laminas\Validator\ValidatorChain">
        <plugin name="flat_messages"
                type="Boundsoff\PageBuilderTemplateInline\Plugin\ValidatorFlatMessages"/>
    </type>

    <virtualType name="\Boundsoff\PageBuilderTemplateInline\Model\Validator\AlreadyExistsValidator\Name"
                 type="\Boundsoff\PageBuilderTemplateInline\Model\Validator\AlreadyExistsValidator">
        <arguments>
            <argument name="propertyName" xsi:type="const">
                \Boundsoff\PageBuilderTemplateInline\Api\Data\TemplateInlineInterface::KEY_NAME
            </argument>
        </arguments>
    </virtualType>
</config>
