<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\Data\TemplateInlineInterface"
                type="\Boundsoff\PageBuilderTemplateInline\Model\TemplateInline"/>
    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\TemplateInlineRepositoryInterface"
                type="\Boundsoff\PageBuilderTemplateInline\Model\TemplateInlineRepository"/>

    <preference for="\Boundsoff\PageBuilderTemplateInline\Api\Data\TemplateInlineSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
</config>
