<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="Boundsoff_PageBuilderTemplateInline" frontName="bf-pb-template-inline">
            <module name="Boundsoff_PageBuilderTemplateInline" before="Magento_Backend"/>
        </route>
    </router>
</config>
